<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <h1 class="mt-3 mb-3">Chapter <%= data.currentChapter %></h1>

        <% if (data.prevChapter) { %>
        <a href="/<%= data.mangaName %>/<%= data.prevChapter %>"
            class="btn btn-primary mb-2 chapter-btn">Previous Chapter</a>
        <% } %>

        <% if (data.nextChapter) { %>
        <a href="/<%= data.mangaName %>/<%= data.nextChapter %>"
            class="btn btn-primary mb-2 chapter-btn">Next Chapter</a>
        <% } %>

        <div class="row">
            <% data.pages.forEach(function(page) { %>
                <img src="<%= page %>" class="img-fluid" alt="Page">
            <!-- <div class="col-md-6 col-lg-4 mb-4">
            </div> -->
            <% }); %>
        </div>

        <% if (data.prevChapter) { %>
            <a href="/<%= data.mangaName %>/<%= data.prevChapter %>"
                class="btn btn-primary mb-2 chapter-btn">Previous Chapter</a>
            <% } %>
    
            <% if (data.nextChapter) { %>
            <a href="/<%= data.mangaName %>/<%= data.nextChapter %>"
                class="btn btn-primary mb-2 chapter-btn">Next Chapter</a>
            <% } %>

        <h2>Chapter List</h2>
        <ul class="list-group mt-4 mb-5">
            <% data.chapterList.forEach(function(chapter) { %>
            <li class="list-group-item">
                <a href="/manga/<%= data.mangaName %>/<%= chapter.chapEP %>"><%=
                    chapter.chapter %></a>
            </li>
            <% }); %>
        </ul>
    </div>
</body>