<%- include('../partials/head') %>
<body>
   <%- include('../partials/header') %>
<body>
	<div class="container">
		<h1>Search Results</h1>

		<!-- Hiển thị kết quả tìm kiếm -->
		<% if (data.mangas && data.mangas.length > 0) { %>
			<div class="row">
				<% data.mangas.forEach(function(manga) { %>
					<div class="col-md-3 mb-3">
						<div class="card">
                            <a href="<%= manga.mangaEP %>">
							<img src="<%= manga.cover %>" class="card-img-top image-card" alt="Manga Cover">
							<div class="card-body">
								<h5 class="card-title"><%= manga.title %></h5>
                            </a>
								<p class="card-text">Last Chapter: <%= manga.lastChap %></p>
								<p class="card-text">Last Update: <%= manga.lastUpdate %></p>
								
							</div>
						</div>
					</div>
				<% }); %>
			</div>
		<% } else { %>
			<p>No results found.</p>
		<% } %>

		<!-- Hiển thị phân trang -->
		<nav aria-label="Page navigation">
			<ul class="pagination">
				<% for (let i = 1; i <= data.totalPages; i++) { %>
					<li class="page-item <% if (data.currentPage === i) { %>active<% } %>">
						<a class="page-link" href="?page=<%= i %>"><%= i %></a>
					</li>
				<% } %>
			</ul>
		</nav>
	</div>
</body>
<%- include('../partials/footer') %>
</html>
